<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
  <%- include('partials/header') %>
  <div class="page-inner">
    <div class="container">    
      <main class="list">
        <% list.forEach(function(item){ %>
          <article>
            <a class="list-header" href="<%- item.url %>"><%- item.title %></a>
            <% if(item.tags.length) { %>
              <p>Tags:
                <% item.tags.forEach(function(tag){ %>
                  <span><a href="/<%- item.section %>/tag/<%- tag %>"><%- tag %></a></span>
                <% }); %>
              </p>
            <% } %>
            <p><%- item.description %></p>
          </article>
        <% }); %>
      </main>
    </div>
    <%- include('partials/footer') %>
  </div>
</body>
</html>