<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
  <%- include('partials/header') %>
  <div class="page-inner">
    <div class="container">    
      <main class="list">
        <% list.forEach(function(item){ %>
          <article>
            <a href="<%- item.url %>"><%- item.title %></a>
            <p><%- item.description %></p>
          </article>
        <% }); %>
      </main>
    </div>
    <%- include('partials/footer') %>
  </div>
</body>
</html>